{{!-- <!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>{{title}}</h1>
      {{#if user}}
        <a href="/profile">
          Signed in as {{user.profile.firstName}} {{user.profile.lastName}}
        </a>
      {{/if}}
      {{#if user}}
        <a href="/logout">Sign out</a>
      {{else}}
        <a href="/login">Sign in</a>
      {{/if}}
      
    </header>
    <main>
    <h2>{{user.profile.firstName}}'s Dashboard</h2>

<p>Profile info</p>
<dl>
  {{#each descriptionList}}
    <dt>{{this.term}}</dt>
    <dd>{{this.details}}</dd>
  {{/each}}
</dl>
      {{{body}}}
    </main>
  </body>
</html> --}}







<head>
  <title>Dashboard</title>
</head>
<!-- Container start -->
<div class="frontContainer">

  <div id="imageDiv">
    <img src="./assets/images/dashboard/2.jpg" height="100%" width="100%">
  </div>
  <div class="cardDiv">
    <div class="logoDiv">
      <span class="title">inTouch</span>
      <br>
      <span class="cardMsg">Welcome! Choose an option below</span>
    </div>

    <!-- <div class="logoDiv">
                <img class="cardLogo" src="./assets/images/mainLogo.jpg">
                    </div> -->
    <div class="formFillup">
      <h1>{{title}}</h1>
      {{#if user}}
      <a href="/profile">
        Signed in as {{user.profile.firstName}} {{user.profile.lastName}}
      </a>
      {{/if}}
      {{#if user}}
      <a href="/logout">Sign out</a>
      {{else}}
      <a href="/login">Sign in</a>
      {{/if}}

      </header>
      <main>
        <h2>{{user.profile.firstName}}'s Dashboard</h2>

        <p>Profile info</p>
        <dl>
          {{#each descriptionList}}
          <dt>{{this.term}}</dt>
          <dd>{{this.details}}</dd>
          {{/each}}
        </dl>
        {{{body}}}
      </main>

    </div>
    <div class="termsDiv">
      <span class="terms">By signing up, you agree to our Terms , Data Policy and Cookies Policy .</span>

    </div>

    <div class="loginDiv">
      <span class="cardMsg">Have an account? </span><a href="#">Log in</a>
      <br>
      <span id="cardContact" class="homeNav">Contact Us</span>
    </div>
    <!-- <div class="contactDiv">
                        
                    </div> -->
  </div>

</div>
<!-- Front-page Container End -->
<!-- popup contact page -->
<div class="slideContact">

  <div class="contactWrap">
    <a class="ctcClose">&times;</a>
    <div class="greetDiv">
      <h1 class="greeting">Let's keep <span class="intouch">inTouch!</span></h1>
    </div>
    <form class="fillup">
      <input class="box" id="custName" placeholder="Name here...." type="text" />
      <input class="box" id="custEmail" placeholder="Email Address here...." type="text" />
      <br />
      <label class="form">Message</label>
      <br />
      <textarea class="box" id="box3" placeholder="Type your message here..."
        onfocus="this.placeholder = ''"></textarea>
      <br />
      <button class="btn waves-effect waves-light #00b0ff light-blue accent-3" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
      <span class="sent"></span>

    </form>
    <span id="ctc1" class="scontact">
      <h5>inTouch.com</h5>
      Chicago, IL<br>
      (773)555-5555<br><br>
      inTouch@gmail.com
    </span>
  </div>
  <div class="botfoot">
    <div class="social">
      <img class="sclbtn" id="git" src="./assets/images/giticon.png" width="30" height="30" />
      <img class="sclbtn" id="insta" src="./assets/images/instablack.png" width="30" height="30" />
      <img class="sclbtn" id="google" src="./assets/images/gmail.png" width="30" height="31" />
    </div>
    <span class="copyright">© 2019 Copyright: inTouch.com</span>

    <!-- Social Media buttons -->

  </div>

</div>