<head>
  <title>Get inTouch</title>
</head>

<!-- Container start -->
<div class="frontContainer">
  <div id="imageDiv">
    <img src="./assets/images/dashboard/5.jpg" height="100%" width="100%">
  </div>
  <div class="cardDiv">
    <div class="logoDiv">
      <span class="title">inTouch</span>
      <br>
      <span class="cardMsg">Sign up and be inTouch with your Family</span>
    </div>

    <!-- <div class="logoDiv">
                <img class="cardLogo" src="./assets/images/mainLogo.jpg">
                    </div> -->
    <form class="formFillup" method="post">

        <label for="firstname">
          <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <input class="box nameBox" id="firstname" placeholder="First Name" name="firstName" required
              value="{{body.firstName}}" />
            <label class="error">{{errors.firstName}}</label>
          </div>
        </label>
        <label for="lastname">
          <div class="input-field">
            <i class="material-icons prefix"></i>
            <input class="box nameBox" id="lastname" placeholder="Last Name" name="lastName" required
              value="{{body.lastName}}" />
            <label class="error">{{errors.lastName}}</label>
          </div>
        </label>

      <label for="email">
        <div class="input-field">
          <i class="material-icons prefix">mail</i>
          <input class="box email" type="email" id="email custEmail" placeholder="Email/Username" name="email" required
            value="{{body.email}}" />
          <label class="error">{{errors.email}}</label>
          <label class="error">{{errors.login}}</label>
        </div>
      </label>
      <label for="password">
        <div class="input-field">
          <i class="material-icons prefix">fingerprint</i>
          <input class="box" name="password" placeholder="Password" type="password" required
            value="{{body.password}}" />

        </div>
        <label for="groupname">
          <div class="input-field">
            <i class="material-icons prefix">group</i>
            <input class="box" placeholder="Group Name" id="groupname" name="groupname" required
              value="{{body.groupname}}" />
            <label class="error">{{errors.lastName}}</label>
          </div>


        </label>
          <label for="childemail">
          <div class="input-field">
            {{!-- <i class="material-icons prefix">group</i> --}}
            <input class="box" placeholder="Child Email" id="childemail" name="childemail" required
              value="{{body.childemail}}" />
            <label class="error">{{errors.lastName}}</label>
          </div>


        </label>

        <label class="error">{{errors.password}}</label>
      </label>

      <button class="btn waves-effect waves-light #00b0ff light-blue accent-3" type="submit" id="submit-btn">Register</button>

    </form>
   
    <div class="termsDiv">
      <span class="terms">By signing up, you agree to our Terms , Data Policy and Cookies Policy .</span>

    </div>

    <div class="extraCardMenu">
      <span class="cardMsg">Have an account? </span><a href="#">Log in</a>
      <br>
      <span id="cardContact">Contact Us</span>
    </div>
    <!-- <div class="contactDiv">
                        
                    </div> -->
  </div>

</div>
<!-- Front-page Container End -->
<!-- popup contact page -->
<div class="slideContact">

  <div class="contactWrap">
    <a class="ctcClose">&times;</a>
    <div class="greetDiv">
      <h1 class="greeting">Let's keep <span class="intouch">inTouch!</span></h1>
    </div>

    <form class="fillup">
      <input class="box" id="custName" placeholder="Name here...." type="text" />
      <input class="box" id="custEmail" placeholder="Email Address here...." type="text" />
      <br />
      <label class="form">Message</label>
      <br />
      <textarea class="box" id="box3" placeholder="Type your message here..."
        onfocus="this.placeholder = ''"></textarea>
      <br />
      <button class="btn waves-effect waves-light #00b0ff light-blue accent-3" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
      <span class="sent"></span>

    </form>
    <span id="ctc1" class="scontact">
      <h5>inTouch.com</h5>
      Chicago, IL<br>
      (773)555-5555<br><br>
      inTouch@gmail.com
    </span>
  </div>
  <div class="botfoot">
    <div class="social">
      <img class="sclbtn" id="git" src="./assets/images/giticon.png" width="30" height="30" />
      <img class="sclbtn" id="insta" src="./assets/images/instablack.png" width="30" height="30" />
      <img class="sclbtn" id="google" src="./assets/images/gmail.png" width="30" height="31" />
    </div>
    <span class="copyright">© 2019 Copyright: inTouch.com</span>

    <!-- Social Media buttons -->

  </div>

</div>


<script src="/assets/js/register-parse.js"></script>
{{!-- Sung's placeholder Code --}}

{{!-- <h4>After creating your account, you will be asked to sign in and provide a security question.</h4>
<form class="formFillup" method="post">
  
  <label for="firstname">
    First Name
    <input id="firstname" name="firstName" required value="{{body.firstName}}" />
    <label class="error">{{errors.firstName}}</label>
  </label>
  <label for="lastname">
    Last Name
    <input id="lastname" name="lastName" required value="{{body.lastName}}" />
    <label class="error">{{errors.lastName}}</label>
  </label>
  <label for="email">
    Email address
    <input type="email" id="email" name="email" required value="{{body.email}}" />
    <label class="error">{{errors.email}}</label>
    <label class="error">{{errors.login}}</label>
  </label>
  <label for="password">
    Password
    <input
      name="password"
      type="password"
      required
      value="{{body.password}}"
    />
    <label class="error">{{errors.password}}</label>
    <label for="groupname">
    Group Name
    <input id="groupname" name="groupname" required value="{{body.groupname}}" />
    <label class="error">{{errors.lastName}}</label>
  </label>
  </label>

  <button type="submit">Register</button>
</form> --}}