<!-- Container start -->
    <div class="frontContainer">
        <div id="imageDiv">
      
        </div>
        <div class="cardDiv">
                <div class="logoDiv">
                    <span class="title">inTouch</span>
                    <br>
                    <span class="cardMsg">Sign up and be inTouch with your Family</span>
                    </div>
                    
            <!-- <div class="logoDiv">
                <img class="cardLogo" src="./assets/images/mainLogo.jpg">
                    </div> -->
                  <form class="formFillup" method="post">
                      <div class="input-field fillName">
                              <i class="material-icons prefix">account_circle</i>
                              <input class="box" id="firstName" placeholder="First Name" type="text" required value="{{body.firstName}}"/>
                              <label class="error">{{errors.firstName}}</label>
                              <input class="box" id="lastName" placeholder="Last Name" type="text" required value="{{body.lastName}}"/>
                              <label class="error">{{errors.lastName}}</label>
                          </div>
                      <div class="input-field">
                              <i class="material-icons prefix">mail</i>
                              <input class="box" id="custEmail" placeholder="Email/Username" type="text" required value="{{body.email}}"/>
                              <label class="error">{{errors.email}}</label>
                              <label class="error">{{errors.login}}</label>
                          </div>
                      <div class="input-field">
                              <i class="material-icons prefix">group</i>
                              <input class="box" id="custGroup" placeholder="Group Name" type="text" required value="{{body.groupname}}"/>
                              <label class="error">{{errors.lastName}}</label>
                          </div>
                        <div class="input-field">
                            <i class="material-icons prefix">child_care</i>
                            <input class="box" id="custChild" placeholder="Child Name" type="text"/>
                        </div>
                      <!-- <div class="input-field">
                              <i class="material-icons prefix">redeem</i>
                              <input class="box datepicker" id="custName" placeholder="Birthday" type="text"/>
                          </div> -->
                      <div class="input-field">
                              <i class="material-icons prefix">fingerprint</i>
                              <input class="box" id="custPass" placeholder="Password" type="password" required value="{{body.password}}"/>
                              <label class="error">{{errors.password}}</label>
                          </div>
                      <button class="btn waves-effect waves-light #00b0ff light-blue accent-3" type="submit" name="action">Submit
                              
                          </button>

                  </form>
                  <div class="termsDiv">
                    <span class="terms">By signing up, you agree to our Terms , Data Policy and Cookies Policy .</span>
                    
                    </div>

                  <div class="loginDiv">
                    <span class="cardMsg">Have an account? </span><a href="#">Log in</a>
                    <br>
                    <span id = "cardContact" class="homeNav">Contact Us</span>
                    </div>
                    <!-- <div class="contactDiv">
                        
                    </div> -->
        </div>
                      
</div>  
<!-- Front-page Container End -->
     <!-- popup contact page -->
     <div class="slideContact">
                       
        <div class="contactWrap">
            <a class="ctcClose">&times;</a>
            <div class="greetDiv">
              <h1 class="greeting">Let's keep <span class="intouch">inTouch!</span></h1>
            </div>
            <form class="fillup">
                  <input class="box" id="custName" placeholder="Name here...." type="text"/>
                  <input class="box" id="custEmail" placeholder="Email Address here...." type="text"/>
                  <br />
                  <label class="form">Message</label>
                  <br />
                  <textarea class="box" id="box3" placeholder="Type your message here..." onfocus="this.placeholder = ''"></textarea>
                  <br />  
                  <button class="btn waves-effect waves-light #00b0ff light-blue accent-3" type="submit" name="action">Submit
                      <i class="material-icons right">send</i>
                  </button>
                  <span class="sent"></span>
                  
              </form>
                  <span id="ctc1" class="scontact" >
                  <h5>inTouch.com</h5>
                  Chicago, IL<br>
                  (773)555-5555<br><br>
                  inTouch@gmail.com
                  </span>
        </div>
        <div class="botfoot">
          <div class="social">
              <img
                class="sclbtn"
                id="git"
                src="./assets/images/giticon.png"
                width="30"
                height="30"
              />
              <img
                class="sclbtn"
                id="insta"
                src="./assets/images/instablack.png"
                width="30"
                height="30"
              />
              <img
                class="sclbtn"
                id="google"
                src="./assets/images/gmail.png"
                width="30"
                height=31"
              />
            </div>
            <span class="copyright">© 2019 Copyright: inTouch.com</span>
           
            <!-- Social Media buttons -->
        
  </div>
          
        </div>       



{{!-- Sung's placeholder Code --}}

{{!-- <h4>After creating your account, you will be asked to sign in and provide a security question.</h4>
<form method="post">
  <label for="firstname">
    First Name
    <input id="firstname" name="firstName" required value="{{body.firstName}}" />
    <label class="error">{{errors.firstName}}</label>
  </label>
  <label for="lastname">
    Last Name
    <input id="lastname" name="lastName" required value="{{body.lastName}}" />
    <label class="error">{{errors.lastName}}</label>
  </label>
  <label for="email">
    Email address
    <input type="email" id="email" name="email" required value="{{body.email}}" />
    <label class="error">{{errors.email}}</label>
    <label class="error">{{errors.login}}</label>
  </label>
  <label for="password">
    Password
    <input
      name="password"
      type="password"
      required
      value="{{body.password}}"
    />
    <label class="error">{{errors.password}}</label>
    <label for="groupname">
    Group Name
    <input id="groupname" name="groupname" required value="{{body.groupname}}" />
    <label class="error">{{errors.lastName}}</label>
  </label>
  </label>

  <button type="submit">Register</button>
</form> --}}